@import "@/scss/abstract/variables";
@import "@/scss/abstract/mixins";

@import "@/scss/base/reset";
@import "@/scss/base/classes";

@import "@/scss/partials/header";
@import "@/scss/partials/footer";
